@model ResumeModel
@{
    ViewData.TryGetValue("EditMode", out var editModeRaw);
    var editMode = Convert.ToBoolean(editModeRaw);
}

<div>
    <h3 class="fs-3 mt-3 mb-2">Skills</h3>
</div>

<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    @if (editMode)
                    {
                        <th scope="col"></th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (editMode)
                {
                    <partial name="_SkillRowForm" model="@(new SkillModel())" view-data="@ViewData" />
                }
                @foreach (var skill in Model.Skills)
                {
                    <tr>
                        <th>@skill.Name</th>
                        @if (editMode)
                        {
                            <td>
                                <form method="post" asp-action="DeleteSkill" onsubmit="return confirm('Do you really want to delete `@skill.Name` skill from your CV?');">
                                    <input type="hidden" name="SkillId" value="@skill.Id" />
                                    <input type="hidden" name="ResumeId" value="@ViewData["ResumeId"]" />
                                    <button type="submit" class="btn btn-danger">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
