@model ResumeModel
@{
    ViewData["ResumeId"] = Model.Id;
    ViewData["EditMode"] = false;
}


<div class="container">
    <main role="main" class="p-3 card">

        @if (Model.PictureBytes != null)
        {
            <div>
                <img src="@Url.Action("GetResumeImage", new { id = Model.Id })">
            </div>
        }

        <partial name="_PersonalInfoReviewSection" model="@Model" view-data="@ViewData" />
        <partial name="_SkillsSection" model="@Model" view-data="@ViewData" />
        <partial name="_LanguageSection" model="@Model" view-data="@ViewData" />
        <partial name="_EducationSection" model="@Model" view-data="@ViewData" />
        <partial name="_JobSection" model="@Model" view-data="@ViewData" />
        <partial name="_CertificateSection" model="@Model" view-data="@ViewData" />

        <div class="me-2">
            <a class="btn btn-dark" href="@Url.Action("Index")">Close</a>
        </div>
    </main>
</div>
