@model ResumeModel
@{
    ViewData["ResumeId"] = Model.Id;
    ViewData["EditMode"] = false;
}


<div class="container">
    <main role="main" class="p-3 card">

        @if (Model.PictureBytes != null)
        {
            <div>
                <img src="@Url.Action("GetResumeImage", new { id = Model.Id })">
            </div>
        }



        <div>
            <partial name="_PersonalInfoReviewSection" model="@Model" view-data="@ViewData" />
            <partial name="_SkillsSection" model="@Model" view-data="@ViewData" />
            <partial name="_LanguageSection" model="@Model" view-data="@ViewData" />
            <partial name="_EducationSection" model="@Model" view-data="@ViewData" />
            <partial name="_JobSection" model="@Model" view-data="@ViewData" />
            <partial name="_CertificateSection" model="@Model" view-data="@ViewData" />
        </div>

        <div class="me-2 d-flex">
            <button class="btn btn-info me-2" id="generate-pdf">Download PDF</button>
            <a class="btn btn-dark" href="@Url.Action("Index")">Close</a>
        </div>
    </main>
</div>

<div class="d-none">
    <div id="editor"></div>
    <div id="cv-content">
        <h1>CV</h1>
        
            
               

        <img src="@Url.Action("GetResumeImage", new { id = Model.Id })">
              
           
        
        <p>First Name: <strong>@Model.FirstName</strong></p>
        <p>Last Name: <strong>@Model.LastName</strong></p>
        <p>Address: <strong>@Model.Address</strong></p>
        <p>Phone: <strong>@Model.PhoneNumber</strong></p>
        <p>Email: <strong>@Model.EmailAddress</strong></p>
        <p>Birthday: <strong>@Model.Birthday.Year</strong></p>

        <p>Personal description: <strong>@Model.Description</strong></p>
        <p>Skills: </p>
        @foreach (var skill in Model.Skills)
        {
            <p><strong>- @skill.Name</strong></p>
        }
        <p>Languages: </p>


        @foreach (var language in Model.Languages)
        {
            <p><strong>@language.Name  Level: <strong>@language.Level</strong></strong></p>
        }
        <p>Educations: </p>

        @foreach (var education in Model.Educations)
        {
            <p><strong>- @education.Name</strong></p>
        }
        <p>Jobs: </p>

        @foreach (var job in Model.Jobs)
        {
            <p><strong>- @job.Name</strong></p>
        }
        <p>Certificates: </p>

        @foreach (var certificate in Model.Certificates)
        {
            <p><strong>- @certificate.Name</strong></p>
        }
    </div>
</div>